$primaryColor: #8fecef;
$secondaryColor: #ffff;
$tertiaryColor: #f5deb3;
$purple: #551D41;
.project-template-default {
    background-image: none;
    background-color: $purple;
    .entry-content {
        margin-top: 0;
    }
    .site-branding {
        display: none;
    }
    #site-navigation {
        @media (min-width: 600px){
            background-color: rgba(255, 255, 255, 0.35);
            margin-top: -2em;
        }
    }
    div.entry-content p   {
        margin: 0em 3em;
        text-align: left;
    }
    nav#site-navigation.main-navigation {
        width: 100%;
        button.menu-toggle {
            margin-top: -2em;
        }
    }
}
.project-image {
    max-width: 100%;
    text-align: center;
    margin-top: 4.25em;
}
.project-title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
    font-style: italic;
    color: $primaryColor;
    padding: 1em 1em 0.5em 1em;
}
.project-description {
    margin-right: 0%;
}
.nav-previous {
    display: none;
}
.nav-next {
    display: none;
}